<footer>
    <h2>DatingApp</h2>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <ul class="footer-links">
            <li><a href=/about>Over</a></li>
            <li><a href=/login>Login</a></li>
            <li><a href=/login>Aanmelden</a></li>
            <li><a>Privacy statement</a></li>
            <li><a>Algemene voorwaarden</a></li>
        </ul>
        <ul class="footer-socials">
            <li><a>Instagram</a></li>
            <li><a>Facebook</a></li>
            <li><a>LinkedIn</a></li>
        </ul>
    </div>
    <small>Copyright 2019 - Dating App</small>
</footer>