<footer>
    <h2>Muze</h2>
    <div>
        <p>
            Find your muse with Muze. Discover whose music taste match yours and go on a date to dance the night away. Muze lets you find people who listen to the same music you do. Just filter a music genre, see whose favorite track finds your tune, test each others knowledge, and start the talk. 
        </p>
        <ul class="footer-links">
            <li><a href=/about>About</a></li>
            <li><a href=/login>Login</a></li>
            <li><a href=/register>Register</a></li>
            <li><a>Privacy Policy</a></li>
            <li><a>Terms of Service</a></li>
        </ul>
        <ul class="footer-socials">
            <li><a>Instagram</a></li>
            <li><a>Facebook</a></li>
            <li><a>Twitter</a></li>
        </ul>
    </div>
    <small>&copy; 2019 Muze</small>
</footer>
