<nav>
    <a class="nav-title" href="/">Muze</a>
    <div>
        <ul>
            <% if (isAuthenticated) { %>
                <li><a class="nav-link" href=/logout>Logout</a></li>
            <% }else { %>
                <li><a class="nav-link" href=/register>Register</a></li>
                <li><a class="nav-link" href=/login>Login</a></li>
            <% } %>
        </ul>
    </div>
</nav>
