
<nav>
    <a class="nav-title" href="/">DatingApp</a>
    <div>
        <ul>
          
            <% if (isAuthenticated) { %>
                <li><a class="nav-link" href=/logout>Uitloggen</a></li>

            <% }else { %>
                <li><a class="nav-link" href=/register>Registreren</a></li>
                <li><a class="nav-link" href=/login>Login</a></li>
            <% } %>
        </ul>
    </div>
</nav>
