
<h2>Login</h2>
<form action="/loginForm" method="post" enctype="multipart/form-data">
    <div>
        <input id="email" name="email" type="email" placeholder="E-mail">
        <input id="password" name="password" type="password" placeholder="Password">
    </div>
    <button>Login</button>
</form>
