
<h2>Login</h2>
<form action=/login method=post enctype=multipart/form-data>
    <div>
        <input name=email type="email" placeholder="E-mail">
        <input name=password type="password" placeholder="Password">
    </div>
    <button>Login</button>
</form>
