
<h2>Registreren</h2>
<form action=/add method=post enctype=multipart/form-data>
    <div>
        <input name="email" type="email" placeholder="E-mail">
        <input name="password" type="password" placeholder="Wachtwoord">
        <input name="profile" type="file" accept=image/*>
        <input name="firstname" type="text" placeholder="Voornaam">
        <input name="lastname" type="text" placeholder="Achternaam">
        <input name="age" type="number" placeholder="Leeftijd">
        <input name="location" type="text" placeholder="Woonplaats">
        <input name="bio" type="text" placeholder="Bio">
    </div>
    <button>Registreren</button>
</form>
