
<h1>Create account</h1>
<form action=/add method=post enctype=multipart/form-data>
    <div>
        <input name="email" type="email" placeholder="E-mail">
        <input name="password" type="password" placeholder="Password">
        <input name="profile" type="file" accept=".jpg, .jpeg, .png, .gif">
        <input name="firstname" type="text" placeholder="First Name">
        <input name="lastname" type="text" placeholder="Last Name">
        <input name="age" type="number" min="16" max="45" placeholder="Age">
        <input name="location" type="text" placeholder="Location">
        <input name="bio" type="text" placeholder="Bio">
    </div>
    <button>Register</button>
</form>
