
<h1>Create account</h1>
<form action=/add method=post enctype=multipart/form-data>
    <div>
        <input name="email" type="email" placeholder="E-mail">
        <input name="password" type="password" placeholder="Password">
        <input name="profile" type="file" accept=".jpg, .jpeg, .png, .gif">
        <input name="firstname" type="text" placeholder="First Name">
        <input name="lastname" type="text" placeholder="Last Name">
        <input name="age" type="number" min="16" max="45" placeholder="Age">
        <input name="location" type="text" placeholder="Location">
        <input name="bio" type="text" placeholder="Bio">
        <label>Choose your main genre<br>
            <select name="genre">
            <option value="ambient">Ambient</option>
            <option value="klassiek">Klassiek</option>
            <option value="country">Country</option>
            <option value="dance">Dance</option>
            <option value="dancehall">Dancehall</option>
            <option value="deephouse">Deep House</option>
            <option value="dubstep">Dubstep</option>
            <option value="hiphop">Hip-Hop</option>
            <option value="house">House</option>
            <option value="latin">Latin</option>
            <option value="metal">Metal</option>
            <option value="rnb">R&B</option>
            <option value="reggaeton">Reggaeton</option>
            <option value="reggae">Reggae</option>
            <option value="rock">Rock</option>
            <option value="techno">Techno</option>
          </select>
        </label>
        <label>Choose your main instrument <br>
            <select name="instrument">
                <option value="bass-guitar">Bass Guitar</option>
                <option value="cello">Cello</option>
                <option value="clarinet">Clarinet</option>
                <option value="classic-guitar">Classic Guitar</option>
                <option value="drums">Drums</option>
                <option value="electric-guitar">Electric Guitar</option>
                <option value="flute">Flute</option>
                <option value="harp">Harp</option>
                <option value="percussion">Percussion</option>
                <option value="piano">Piano</option>
                <option value="saxophone">Saxophone</option>
                <option value="synthesizer">Synthesizer</option>
                <option value="trumpet">Trumpet</option>
                <option value="ukulele">Ukulele</option>
                <option value="violin">Violin</option>
                <option value="voice">Voice</option>
            </select>
        </label>
                <label>Choose what you are<br>
                <p><input type="radio" name="specialize" value="producer">Producer</p></label>
                <label><p><input type="radio" name="specialize" value="artist">Singer</p></label>
                <label><p><input type="radio" name="specialize" value="bandmember">Bandmember</p></label>
        
    </div>
    <button>Register</button>
</form>
