* { box-sizing: border-box }


label, input, textarea, button { margin: 1em 0 }

input, textarea, button {
  font-size: 1em;
  padding: 0.5em;
  border-width: 0;
  border-radius: 0.25em
}

input, textarea { width: 100% }

.danger {
  background: red;
  color: white
}

/*#region COMMON STYLES*/

/*importing google fonts*/
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300');

body {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

main {
  padding: 30px 100px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive;
}

a {
  cursor: pointer;
  color: #4CCABA;
  transition: color .1s linear;
  text-decoration: none;
}

a:hover {
  color: #93dfd5;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*#endregion COMMON STYLES*/

/*#region NAVBAR*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  border-bottom: 1px solid #efefef;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li:first-child {
  margin-right: 20px;
}

nav h1 {
  margin: 0;
}

/*#endregion NAVBAR*/

/*#region ABOUT*/

.about-section {
  display: flex;
}

.about-section img {
  margin-right: 50px;
}

.about-section p {
  margin: 0;
}

.about-section img {
  max-width: 100%;
  max-height: 400px;
}
/*#endregion ABOUT*/

/*#region LOGIN*/

.login-main {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 54px);
  align-items: center;
}

.login-tile {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.login-tile-flex {
  display: flex;
}

.login-tile-img {
  width: 350px;
  height: 100%;
  object-fit: cover;
}

.login-form {
  margin: 30px;
  min-width: 400px;
}

.login-form button {
  display: block;
  width: 100%;
  background-color: #4CCABA;
  border: 2px solid #4CCABA;
  border-radius: 0;
  color: white;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: background-color .2s linear;
}

.login-form button:hover {
  background-color: transparent;
  color: #4CCABA;
}

.login-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: 87%;
  padding-top: 40px;
}

.login-form input {
  width: 100%;
  border-bottom: 1px solid #cccccc;
  border-radius: 0;
}

/*#endregion LOGIN*/