/* Fonts */

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/avr-rg.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/avr-md.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/avr-bk.otf') format('opentype');
}

@font-face {
  font-family: 'Nevis';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/nvs-bd.ttf') format('truetype');
}

/* --------- */

/* Animations */

@keyframes disco-beat {
  0% {
    transform: scale(1);
    color: white;
    text-shadow: none;
  }

  10% {
    transform: scale(1.1);
    color: #5EE1EA;
    text-shadow: 0em 0em 0.03em white;
  }

  20% {
    transform: scale(1);
    color: white;
    text-shadow: none;
  }
  
  30% {
    transform: scale(1.1);
    color: #EAA265;
    text-shadow: 0em 0em 0.03em white;
  }

  40% {
    transform: scale(1);
    color: white;
    text-shadow: none;
  }

  50% {
    transform: scale(1.1);
    color: #FDFF5E;
    text-shadow: 0em 0em 0.03em white;
  }

  60% {
    transform: scale(1);
    color: white;
    text-shadow: none;
  }

  70% {
    transform: scale(1.1);
    color: #89B3E4;
    text-shadow: 0em 0em 0.03em white;
  }

  80% {
    transform: scale(1);
    color: white;
    text-shadow: none;
  }

  90% {
    transform: scale(1.1);
    color: #27CF81;
    text-shadow: 0em 0em 0.03em white;
  }
  
  100% {
    transform: scale(1);
    color: white;
    text-shadow: none;
  }
}

@keyframes input-invalid {
  0% {
    border-bottom-color: #6A777B;
    border-top-color: transparent;
  }
  
  50% {
    border-bottom-color: #FF6867;
    border-top-color: #FF6867;
  }
}

@keyframes login-bounce {
  0% {
  transform: translateY(-120vh);
  }
  
  75% {
  transform: translateY(0.25em);
  }

  100% {
  transform: translateY(0);
  }
}

@keyframes login-hide {
  0% {
  transform: translateY(0);
  }
  
  25% {
  transform: translateY(0.25em);
  }

  100% {
  transform: translateY(-120vh);
  }
}

/* ---------- */

* { box-sizing: border-box }


label, input, textarea, button { margin: 1em 0 }

input, textarea, button {
  font-size: 1em;
  padding: 0.5em;
  border-width: 0;
  border-radius: 0.25em
}

input, textarea { width: 100% }

.danger {
  background: red;
  color: white
}

/*#region COMMON STYLES*/

body {
  background: radial-gradient(#6B359C, #2A2142);
  font-family: Avenir, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Avenir, sans-serif;
}

a {
  cursor: pointer;
  color: #4CCABA;
  transition: color .1s linear;
  text-decoration: none;
}

a:hover {
  color: #70B3EE;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.button-blue {
  background-color: #4CCABA;
  color: white;
  padding: 10px 60px;
  border: 2px solid #4CCABA;
  transition: background-color .2s linear;
}

.button-blue:hover {
  background-color: transparent;
  color: #4CCABA;
}

/*#endregion COMMON STYLES*/

/*#region NAVBAR*/

.session { float:right;
margin-top: -3.2em;
margin-right: 2.5em;}
.sessionImage {
width: 3em;
height: 3em;
border-radius: 2em;
margin-left: -1em;
margin-top: -0.3em;}
nav {
  display: grid;
  grid-template-columns: 75% 25%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #efefef;
  height: 4em;
  background-color: transparent;
  padding: 0 7.5em;
  margin-top: 1.25em;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav ul li:first-child {
  margin-right: 2.5em;
}

nav > a {
  font-family: Nevis, sans-serif;
  font-weight: 700;
  font-size: 2.25em;
  color: white;
  animation: none;
  transition: animation 1s ease;
}

nav > a:hover {
  animation: disco-beat 2.5s ease infinite;
}

nav ul li:first-of-type a {
  color: #fff;
  padding: 0.75em 1em;
  border: 0.1em solid #fff;
  border-radius: 0.25em;
  background-color: none;
  transition: color .2s ease-in, background-color .3s ease;
}

nav ul li:first-of-type a:hover {
  background-color: white;
  color: #FF575C;
}

.nav-title-white {
  color: white;
}

.nav-title-white:hover {
  color: rgba(255,255,255,0.7);
}

.nav-link-white {
  color: white;
}

.nav-link-white:hover {
  color: rgba(255,255,255,0.7);
}

@media only screen and (max-width: 500px) {
  nav {
    padding: 0 30px;
  }
}

.lastLogIn
{ background-color: #F8F7F8;
  color: black;
  border-radius: 5px;
  padding: 10px;
  width: 10em;
  text-align: center;
  font-size: .9em;
  float: left;
  }
/*#endregion NAVBAR*/

/*#region HOME*/
.home-main {
  background-color: #F8F7F8;
}

.home-main .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tile {
  background-color: white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  margin-bottom: 50px;
}

.tile img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.profile-item-title {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.tile h2 {
  padding: 20px;
  margin: 0;
  font-size: 18px;
}

.filters {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
  flex-direction: column;
}

.filter-options {
  flex-direction: column;
  margin-top: 20px;
}

.filter-options div {
  display: flex;
  align-items: center;
}

.filter-options input {
  width: unset;
  margin-right: 10px;
  margin: 5px 10px 5px 0;
}

.filter-options label {
  margin: 5px 0;
}

@media only screen and (max-width: 500px) {
  .home-main .grid {
    align-items: center;
    flex-direction: column;
  }

  .tile img {
    width: 315px;
    height: 315px;
  }
}

/*#endregion HOME*/

/*#region ABOUT*/

.about-section {
  display: flex;
}

.about-section img {
  margin-right: 50px;
}

.about-section p {
  margin: 0;
}

.about-section img {
  max-width: 100%;
  max-height: 400px;
}
/*#endregion ABOUT*/

/*#region LOGIN*/

.login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 4.5em);
  align-items: center;
}

.login-tile {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4);
  background-color: white;
  margin: 0 1em;
  display: flex;
  justify-items: center;
}

.show {
  animation: login-bounce 1.5s ease;
}

.hide {
  animation: login-hide 1s ease;
  transform: translateY(-100vh);
}

.login-tile-photo {
  background-image: url(/img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main section > div {
  display: flex;
  margin: 0 auto;
}

main section div > section {
  margin: 1.5em;
  min-width: 14em;
  max-width: 30em;
}

.login-form button {
  display: block;
  width: 100%;
  background-color: #FF575C;
  border-radius: 0.25em;
  color: white;
  padding: 0.75em;
  font-family: Avenir, sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: background .15s ease-in;
}

.login-form button:hover {
  background-color: #FF7F72;
}

.login-form form {
  padding-top: 0.5em;
}

main section h1 {
  font-size: 1.75em;
  color: #2A2142;
  text-align: center;
}

.login-form input {
  font-family: Avenir, sans-serif;
  font-weight: 300;
  color: #4C4C4C;
  border-bottom: 0.15em solid #6A777B;
  padding: 0.5em 0;
  border-radius: 0;
  background-color: transparent;
  transition: border-bottom .2s ease-in-out, color .2s ease;
}

.login-form input:focus {
  border-bottom: 0.15em solid #6B359C;
  color: #6B359C;
  caret-color: #6B359C;
  background: none;
}

.login-form input:invalid:not(:placeholder-shown) {
  animation: input-invalid 1.5s ease-in-out infinite;
  box-shadow: none;
}

.login-form input:valid:not(:placeholder-shown) {
  border-bottom: 0.15em solid #2CC973;
}

.login-form input:valid:not(:focus) {
  color: #2A2142;
}

input[type="email"], input[type="number"] {
  border-top: 0.15em solid transparent;
}

#email {
animation: none;
box-shadow: none;
}

form input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

form input[type="file"] {
  border: none;
}
/*#endregion LOGIN*/

/*#region NOT FOUND*/

.not-found-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 54px);
  justify-content: space-evenly;
}

.not-found-main h1 {
  margin-top: 0px;
}

.not-found-main img {
  width: 300px;
}

/*#endregion NOT FOUND*/

/*#region PROFILE*/

.profile-tile {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.profile-picture {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.profile-tile h2 {
  font-family: 'Roboto';
  font-weight: lighter;
  color: #707070;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.profile-item-content {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: lighter;
  color: #707070;
}

.profile-item-content > div:nth-child(2),
.profile-item-content > div:first-child {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .profile-picture {
    width: 315px;
    height: 315px;
  }
}

/*#endregion PROFILE*/

/*#region FOOTER*/

footer {
  background: linear-gradient(-190deg, #6B359C, #2A2142);
  padding: 1.5em 8em;
  color: white;
}


footer h2 {
  font-family: Nevis, sans-serif;
  font-size: 1.75em;
  color: #FDFF5E;
}

footer > div {
  display: flex;
}

footer > div > p {
  flex-basis: 55%;
  line-height: 1.5em;
  align-self: center;
  max-width: 30em;
}

footer > div > ul {
  margin: 1em auto;
}

.footer-links {
  margin-right: 7em;
}

footer ul {
  list-style-type: none;
  align-self: center;
}

footer ul li:nth-child(-1n+4){
  margin-bottom: 0.3em;
}

footer ul a {
  color: #FFA4A5;
  transition: color .2s linear;
}

footer ul a:hover {
  color: #708CD7;
}

footer small {
  font-weight: 300;
  display: block;
  margin-top: 2.5em;
}

@media only screen and (max-width: 500px) {
  footer {
    padding: 30px;
  }

  footer p {
    display: none;
  }
}

/*#endregion FOOTER*/

/*#region REMOVE*/

.js-delete {
  color: red;
  font-weight: bold;
  display: none;
}

.display {
  display: block!important;
}

/*#endregion REMOVE*/
