<% include partials/head.ejs %>
<title>Dating app - about</title>

<!--navbar-->
<% include partials/header.ejs %>

<!--Body-->
<main>
    <h2>About us</h2>
    <section class="about-section">
        <img alt="couple holding hands" src="/img/couple.jpg">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </section>
    
    
</main>

<!--Footer-->
<% include partials/footer.ejs %>

<!--Script tags-->
<% include partials/tail.ejs %>