<nav>
    <a class="nav-title" href="/">Dating app</a>
    <div>
        <ul>
            <li><a class="nav-link" href=/about>About</a></li>
            <li><a class="nav-link" href=/login>Login</a></li>
            <li><a class="nav-link" href=/login>Registreren</a></li>
        </ul>
    </div>
</nav>