<% include head.ejs %>
<title>Dating app</title>

<!--navbar-->
<% include header.ejs %>

<!--Body-->
<main class="home-main">
    <h1>Welcome</h1>
    <a href="/login" class="start-button">Let's get started!</a>
</main>


<!--Script tags-->
<script src=/home.js></script>
<% include tail.ejs %>