<% include head.ejs %>
<title>Dating app</title>

<!--navbar-->
<% include header.ejs %>

<!--Body-->
<main>
    <% for (var index = 0; index < data.length; index++) { %>
    <h2><a href="/<%= data[index].id %>"><%= data[index].title %></a></h2>
    <p><%= data[index].plot %></p>
    <% } %>
    <p>
      <a href=/add>Add a movie</a>
    </p>
</main>


<!--Script tags-->
<% include tail.ejs %>