<% include partials/head.ejs %>
<title>Dating app - login</title>

<!--navbar-->
<% include partials/header.ejs %>

<!--Body-->
<main class="login-main">
    <section class="login-tile">
        <div class="login-tile-photo"></div>
        <div class="login-tile-flex">
            <section class="login-form">
                    <% include partials/login-form.ejs %>
            </section>
        </div>
    </section>
</main>

<!--Footer-->
<% include partials/footer.ejs %>

<!--Script tags-->
<% include partials/tail.ejs %>
