
<h2>Login</h2>
<form action="/form" method="POST">
    <div>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
    </div>
    <button type="submit">Log in</button>
</form>
