
<h2>Login</h2>
<form action=/form method=post enctype=multipart/form-data>
    <div>
        <input name=username placeholder="Username">
        <input type="password" placeholder="Password">
    </div>
    <button>Log in</button>
</form>
