<% include head.ejs %>
<title>Dating app - login</title>

<!--navbar-->
<% include header.ejs %>

<!--Body-->
<main class="login-main">
    <section class="login-tile">
        <div class="login-tile-flex">
            <img class="login-tile-img" src="/img/couple-gradient.jpg">
            <section class="login-form">

                <!--How do I render this conditionally?-->

                <!-- 
                    if (user clicked on sign up) {
                        render signup.ejs
                    } else {
                        render login.ejs
                    }

                -->
                    <% include login.ejs %>
            </section>
        </div>
        
    </section>
    
</main>

<!--Footer-->
<% include footer.ejs %>

<!--Script tags-->
<% include tail.ejs %>