    
<% include partials/head.ejs %>

<title>Not found - Dating app</title>

<!--navbar-->
<% include partials/header.ejs %>

<main class="not-found-main">
    <h1>Oh no... You broke our heart!</h1>
    <img src="/img/broken-heart.png">
    <p>We could not find the page you requested</p>

    <a class="button-blue" href="/">Go back to the homepage</a>
</main>


<!--Scripts-->
<% include partials/tail.ejs %>