<% include partials/head.ejs %>
<title>>Muze - Register</title>

<!--navbar-->
<% include partials/header.ejs %>

<!--Body-->
<main class="login-main">
    <section class="login-tile">
        <div class="login-tile-photo"></div>
        <section class="login-form">
                <% include partials/register-form.ejs %>
        </section>
    </section>
</main>

<!--Footer-->
<% include partials/footer.ejs %>

<!--Script tags-->
<% include partials/tail.ejs %>
