
<h2>Register</h2>
<form action=/add method=post enctype=multipart/form-data>
    <div>
        <input name=email type="email" placeholder="E-mail">
        <input name=password type="password" placeholder="Password">
        <input name=profile type=file accept=image/*>
        <input name=firstname type="text" placeholder="First name">
        <input name=lastname type="text" placeholder="Last name">
        <input name=age type="number" placeholder="Age">
    </div>
    <button>Log in</button>
</form>
