<% include head.ejs %>
<title>Dating app - login</title>

<!--navbar-->
<% include header.ejs %>

<!--Body-->
<main class="login-main">
    <section class="login-tile">
        <div class="login-tile-flex">
            <section class="login-form">
                    <% include register-form.ejs %>
            </section>
        </div>
    </section>
</main>

<!--Footer-->
<% include footer.ejs %>

<!--Script tags-->
<% include tail.ejs %>