
<h2>Registreren</h2>
<form action=/form method=post enctype=multipart/form-data>
    <div>
        <input name=username placeholder="Gebruikersnaam">
        <input type="password" placeholder="Wachtwoord">
        <input type="password" placeholder="Herhaal wachtwoord">
        <input type="email" placeholder="E-mail">
    </div>
    <button>Registreren</button>
</form>